body {
    padding: 20px;
    background-color: #FBE4D8;
}

/* fondo de la pagina color claro y un padding de 20 px para que nada toque los bordes*/

header {
    background: linear-gradient(to right, rgb(221, 94, 137), rgb(247, 187, 151));
    padding: 20px;
    border-radius: 15%;
    position: relative;
}

/* estilo de la barra del cabezal */

h1 {
    margin: 25px;
    padding: 40px;
    margin-left: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-size: 75px;
    color: #333;
    text-shadow: -3px 3px #ffffff, -3px -3px #ffffff, 3px -3px #ffffff, 3px 3px #f3f3f2, 6px 6px #6ac7c2;
}

/* Estilo del texto TO - DO - LIST */

#botonLogin {
    height: 95px;
    /* ALTO */
    width: 95px;
    /* ANCHO */
    top: 30%;
    background-image: url('https://cdn-icons-png.flaticon.com/512/3871/3871011.png');
    background-color: transparent;
    background-size: 100%;
    background-position: center;
    border: none;
    position: absolute;
    right: 88px;
}

/* Estilo del boton menu */

#botonLogin:hover {
    filter: drop-shadow(5px 5px 10px);
    cursor: pointer;
}

/* Estilo del boton menu cuando paso el cursor*/

.menudesplegable {
    display: none;
    position: absolute;
    background-color: transparent;
    z-index: 1;
    /* prioridad de frente */
    margin-top: -50px;
    right: 20px;
    margin-left: 0;
}

/* Estilo del menu desplegable */

.menudesplegable a:last-child {
    color: red;
    font-weight: bold;
    text-align: center;
}

/* Estilo del boton de reiniciar */


.menudesplegable a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    text-transform: uppercase;
    color: #000;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    text-shadow: #333;
    border: 3px solid #F1916D;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Estilo de los botones del menu */

.menudesplegable a:hover {
    color: rgb(221, 94, 137);
    text-shadow: #000;
}

/* Estilo de los botones del menu, cuando paso el cursor*/

.botones {
    display: flex;
    justify-content: space-around;
    margin: 25px;
}

/* Contenedor de los botones de DIA SEMANA y MENU */

.boton {
    border: none;
    width: 200px;
    height: 200px;
    background: linear-gradient(to right, rgb(247, 187, 151), rgb(221, 94, 137));
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: bold;
    margin-right: 10px;
    transition: transform 0.3s ease;
    border-radius: 25px;
}

/* CLASE de los botones DIA SEMANA */

.boton:hover {
    transform: scale(1.1);
    background: linear-gradient(to right, rgb(221, 94, 137), rgb(247, 187, 151));
    color: #000000;
    font-size: 40px;
    cursor: pointer;
}

/* CLASE de los botones DIA SEMANA cuando paso el cursor*/

#botonmes {
    border: none;
    width: 200px;
    height: 200px;
    background: linear-gradient(to right, rgb(247, 187, 151), rgb(221, 94, 137));
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: bold;
    margin-right: 10px;
    transition: transform 0.3s ease;
    border-radius: 25px;
}

/* id del boton MES */


#botonmes:hover {
    transform: scale(1.1);
    background: linear-gradient(to right, rgb(221, 94, 137), rgb(247, 187, 151));
    color: #000000;
    font-size: 40px;
    cursor: pointer;
}

/* Estilo del boton MES cuando paso el cursor*/


.cuadrados {
    display: flex;
    justify-content: space-around;
}

/* Contenedor de los 3 cuadrados */

#cuadradoizquierdo {
    width: 400px;
    height: 600px;
    background-color: transparent;
    border: 5px solid #F1916D;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(241, 145, 109, 0.5);
    margin-left: 50px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*estilo del cuadrado de la izquierda*/

#cuadradocentro {
    flex-grow: 1;
    width: 750px;
    height: 600px;
    background-color: transparent;
    border: 5px solid #F1916D;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: #F1916D;
    text-transform: uppercase;
    box-shadow: 0px 0px 10px rgba(241, 145, 109, 0.5);
}

/*estilo del cuadrado del medio*/

#cuadradoderecha {
    width: 400px;
    height: 600px;
    background-color: transparent;
    border: 5px solid #F1916D;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(241, 145, 109, 0.5);
    margin-right: 50px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*estilo del cuadrado de la derecha*/

.div-final {
    display: flex;
    justify-content: space-between;
    margin: 25px;
}

/*estilo del div que contiene los botones de los premios*/

.contenedorRegistro {
    display: none;
    padding: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    margin-bottom: 20px;
    border-radius: 8px;
    color: #000;
    text-transform: uppercase;
}

/*estilo del div de fondo y formato que contiene el div de registro*/

#tituloRegistro {
    font-size: 45px;
    font-style: normal;
    text-align: center;
    margin-bottom: 20px;
}

/*estilo de Registro, posicion de los inputs y el boton del div registro  flex-direction: column;*/

.contenedorRegistro .input-field {
    margin-bottom: 10px;
}

/*espacio entre los inputs*/

.contenedorRegistro input[type="text"],
.contenedorRegistro input[type="email"],
.contenedorRegistro input[type="password"],
.contenedorRegistro input[type="number"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/*estilo y grosor de los inputs*/

.contenedorRegistro button {
    padding: 10px 20px;
    background-color: #F1916D;
    color: #000;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

/*estilo del fondo del boton de registro*/

.contenedorRegistro button:hover {
    background-color: #F56848;
}

/*estilo del fondo del boton de registro mas oscuro cuando paso el cursor*/

.contenedorLogin {
    display: none;
    padding: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    margin-bottom: 20px;
    border-radius: 8px;
}

/*estilo del div de fondo y formato que contiene el div de Login*/

#tituloLogin {
    font-size: 45px;
    font-style: normal;
    text-align: center;
    margin-bottom: 20px;
}

/*estilo de Login, posicion de los inputs y el boton del div Login */

.contenedorLogin .input-field {
    margin-bottom: 10px;
}

/*espacio entre los inputs*/

.contenedorLogin .btn-field {
    font-size: 11px;
    text-transform: none;
    font-weight: normal;
}

/*Estilo de Olvide mi contraseña*/

.contenedorLogin .btn-field a {
    font-size: 14px;
    text-transform: none;
    font-weight: normal;
    color: blue;
}

/*Estilo de haz click aqui*/

.contenedorLogin input[type="email"],
.contenedorLogin input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/*estilo y grosor de los inputs*/

.contenedorLogin button {
    padding: 10px 20px;
    background-color: #F1916D;
    color: #000;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

/*estilo del fondo del boton de Iniciar Sesión*/

.contenedorLogin button:hover {
    background-color: #F56848;
}

/*estilo del fondo del boton de Iniciar Sesión mas oscuro cuando paso el cursor*/

.contenedorLista {
    justify-content: center;
    display: none;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    margin-bottom: 20px;
    border-radius: 8px;
}

/*estilo del div de fondo y formato que contiene el div de la Lista de Tareas*/

.contenedorLista label {
    font-size: 26px;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    color: #000;
    margin-right: 5px;
    text-transform: none;
}

/*estilo de Añadir nueva tarea*/

.contenedorLista input[type="text"] {
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-right: 10px;
    width: 60%;
    font-size: 18px
}

/*estilo del cuadro de texto*/

.contenedorLista button {
    padding: 8px 20px;
    background-color: #F1916D;
    border: 1px solid #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

/*estilo del boton ok*/

.contenedorLista button:hover {
    background-color: #F56848;
    color: #000;
}

/*estilo del boton ok con el cursor arriba*/

.contenedorLista ul {
    text-transform: uppercase;
    font-size: 18px;
    margin-left: 17px;
}

/*estilo de la caja que contiene los li creados en tareas*/

.contenedorLista li {
    margin-bottom: 15px;
    display: flex;
}

/* margen entre cada elemento de la lista */

.contenedorLista .enlace-eliminar {
    margin-left: 5px;
    text-decoration: none;
    color: #F56848;
}

/* estilo del boton para eliminar tarea */

.contenedorLista input[type="checkbox"] {
    transform: scale(1.5);
    margin-bottom: 5px;
    margin-right: 8px;
    cursor: pointer;
}

/* estilo del contenido de la lista que crea el usuario */

li {
    list-style: none;
    margin-bottom: 50px;
}

/* estilo de la cruz para eliminar la actividad */

.tachado {
    text-decoration: line-through;
}

/* tacha la actividad realizada */

#boton1 {
    border: none;
    border-radius: 35px 0px 35px 0px;
    width: 250px;
    height: 100px;
    background: linear-gradient(to right, rgb(247, 187, 151), rgb(221, 94, 137));
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}

/* Estilo del boton Galeria 1*/

#boton2 {
    border: none;
    border-radius: 35px 0px 35px 0px;
    width: 250px;
    height: 100px;
    background: linear-gradient(to right, rgb(247, 187, 151), rgb(221, 94, 137));
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}

/* Estilo del boton Galeria 2*/

#boton1:first-child {
    float: left;
    border-radius: 35px 0px 0px 35px;
    margin-left: 50px;
}

/*Estilo del boton izquiero Galeria 1*/

#boton2 {
    float: right;
    border-radius: 0px 35px 35px 0px;
    margin-right: 50px;
}

/*Estilo del boton derecho Galeria 2*/

#boton1:hover {
    transform: scale(0.8);
    background: linear-gradient(to right, rgb(221, 94, 137), rgb(247, 187, 151));
    color: #000000;
    font-size: 30px;
    cursor: pointer;
}

/* Estilo que cambia cuando paso el cursor por arriba del boton Galeria1 */

#boton2:hover {
    transform: scale(0.8);
    background: linear-gradient(to right, rgb(221, 94, 137), rgb(247, 187, 151));
    color: #000000;
    font-size: 30px;
    cursor: pointer;
}

/* Estilo que cambia cuando paso el cursor por arriba del boton Galeria2*/

#fotofinal {
    background-color: transparent;
    background-size: 95px;
    background-position: center;
    border: none;
}

/*estilo de la imagen final de la pagina*/

#slider {
    width: 300px;
    height: 500px;
    aspect-ratio: 10/16;
    display: none;
    overflow: scroll;
    scroll-snap-type: y mandatory;
}

/*estilo del contenedor de la galeria del cuadro izquierdo*/

#slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    scroll-snap-align: center;
}

/*estilo de las imagenes de la galeria del cuadro izquierdo*/

#carrusel-caja {
    -moz-animation: automatizacion 3s infinite linear;
    -o-animation: automatizacion 3s infinite linear;
    -webkit-animation: automatizacion 3s infinite linear;
    animation: automatizacion 15s infinite linear;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
    height: 500px;
    width: 400%;
}

/*estilo del contenedor de la galeria del cuadro derecho*/

#carrusel-contenido {
    margin: 50px;
    overflow: hidden;
    text-align: left;
    display: none;
}

/*estilo del contenedor del carrusel*/

.imagenes {
    height: 500px;
    width: 100%;
}

/*estilo de las imagenes*/

.carrusel-elemento {
    float: left;
    width: 25%;
}

/*ordena las imagenes segun el ancho del carrusel para que se vea solo 1*/


@-moz-keyframes automatizacion {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    99% {
        margin-left: -300%;
    }

    100% {
        margin-left: 0;
    }
}

@-webkit-keyframes automatizacion {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    99% {
        margin-left: -300%;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes automatizacion {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    99% {
        margin-left: -300%;
    }

    100% {
        margin-left: 0;
    }
}

/*las transisiones automaticas del carrusel*/

.contenedorCalendario {
    display: none;
    width: 90%;
    margin: 0 auto;
    background: #eaeaea;
    width: 700px;
    height: 490px;
    box-shadow: 0 2px 20px rgb(0, 0, 0, .1);
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}

/*estilo del contenedor calendario*/


.nombre__mes {
    text-align: center;
    color: #51565d;
    font-weight: 350;
    padding: 23px 0;
    font-weight: bold;
}

/*estilo del nombre Julio*/


.dias {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    place-items: center;
    height: 25px;
    border-bottom: 1px solid #7a7c841f;
    border-top: 1px solid #7a7c841f;
    color: #51565d;
}

/*estilo de los dias*/

.calendario {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: 85px;
}

/*organizacion de los numeros*/

.calendario__dia {
    border-bottom: 1px solid #7a7c841f;
    border-top: 1px solid #7a7c841f;
    padding: 12px 20px;
    cursor: pointer;
    color: #51565d;
}

/*estilo de las lineas para que se parezca a un calendario*/